body{
	font-family:'open-sans', sans-serif;
	font-size: 17px;
	line-height: 1.5em; 
	margin:0;
	padding:0;
}

.showcase{
	background:url('../images/j.jpg') center;
	background-repeat: no-repeat;
    background-size: cover;
    border-bottom:1px solid #56a79a;
    margin:30px auto;
}
.showcase .row{
	height:600px;
	opacity:0.8;
}
.showcase h1{
	font-size:50px;
	margin:0;
	padding-bottom:20px; 
}
.showcase p{
	color:#ccc;
	margin:0;
}
.showcase .showcase-content{
	background:#333;
	color:#fff;
	border-radius:90pX;
	padding:40px;
	opacity: 0.8;
}
a {
   font-style: italic;
   text-decoration: none;
   }